<form>
  <div class="form-group" align="center">
    <label>{{localize "orc.dialog.splitItem.chooseSplit"}}</label>
    <input type="number" name="newStock" value="1" style="max-width:75px" />
  </div>
</form>