<form class="{{ccsClass}}" autocomplete="off">
  <section class="flexrow">
    <img
      style="max-width: 200px; margin-left: 15px; margin-right: 15px"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="150"
      width="200"
    />
    <table>
      <th colspan="4">
        <h1 class="name" align="center">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize 'orc.name'}}"
            onClick="this.select();"
          />
        </h1>
      </th>
      <tr>
        <td>
          {{localize "orc.race"}}
          <h4 class="details-race">
            <input
              type="text"
              name="system.details.race"
              value="{{actor.system.details.race}}"
              placeholder="{{localize 'orc.race'}}"
              onClick="this.select();"
            />
          </h4>
        </td>
        <td>
          {{localize "orc.job"}}
          <h4 class="details-job">
            <input
              type="text"
              name="system.details.job"
              value="{{actor.system.details.job}}"
              placeholder="{{localize 'orc.job'}}"
              onClick="this.select();"
            />
          </h4>
        </td>
        <td>
          {{localize "orc.lvl"}}
          <h4 class="details-lvl">
            <input
              type="number"
              name="system.details.lvl"
              value="{{actor.system.details.lvl}}"
              placeholder="{{localize 'orc.lvl'}}"
              onClick="this.select();"
            />
          </h4>
        </td>
        <td>
          {{localize "orc.faction"}}
          <h4 class="details-faction">
            <input
              type="text"
              name="system.details.faction"
              value="{{actor.system.details.faction}}"
              placeholder="{{localize 'orc.faction'}}"
              onClick="this.select();"
            />
          </h4>
        </td>
      </tr>
    </table>
  </section>
  <table>
    <td>
      <table style="width: 230px">
        <tr>
          <th>{{localize "orc.hp"}}</th>
          <th>
            <input
              type="number"
              name="system.hp.value"
              value="{{actor.system.hp.value}}"
              placeholder="{{localize 'orc.hp'}}"
              onClick="this.select();"
            />
          </th>
          <th>/</th>
          <th>
            <input
              type="number"
              name="system.hp.valueMax"
              value="{{actor.system.hp.valueMax}}"
              placeholder="{{localize 'orc.hp'}}"
              onClick="this.select();"
            />
          </th>
        </tr>
      </table>
    </td>
    <table>
      <section class="weapon-list">
        {{#each weapons as |item id|}}
        <tr class="item flexrow" data-item-id="{{item._id}}">
          <td>
            <h4>{{item.name}}</h4>
          </td>
          <td>{{item.system.damage}}</td>
          <td>{{item.system.range}}</td>
          <td>
            <a class="item-edit" title="Edit Item">
              <i class="fas fa-edit"></i
            ></a>
            <a class="item-delete" title="Delete Item"
              ><i class="fas fa-trash"></i
            ></a>
          </td>
        </tr>
        {{/each}}
      </section>
    </table>
  </table>

  {{editor content=actor.system.description target="system.description"
  button=true owner=owner editable=editable}}
</form>
