<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1>
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{ localize 'Name' }}"
      />
    </h1>
  </header>
  <div>
    <table>
      <tr>
        <th>{{localize "orc.weapon.damageType"}}</th>
        <th>{{localize "orc.weapon.damage"}}</th>
        <th>{{localize "orc.weapon.range"}}</th>
        <th>{{localize "orc.weapon.weight"}}</th>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <select name="system.damageType">
              {{#select item.system.damageType}} {{#each config.damageTypeList
              as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}} {{/select}}
            </select>
          </div>
        </td>
        <td>
          <input
            name="system.damage"
            type="text"
            value="{{item.system.damage}}"
            data-dtype="Number"
            placeholder="0"
          />
        </td>
        <td>
          <input
            name="system.range"
            type="text"
            value="{{item.system.range}}"
            data-dtype="Number"
            placeholder="0"
          />
        </td>
        <td>
          <input
            name="system.weight"
            type="text"
            value="{{item.system.weight}}"
            data-dtype="Number"
            placeholder="0"
          />
        </td>
        <td>
          <input
            name="system.checkbox"
            type="checkbox"
            {{checked
            item.system.checkbox}}
          />
        </td>
      </tr>
    </table>
    <textarea name="system.description">{{item.system.description}}</textarea>
  </div>
</form>
