.orc.sheet.actor {
  textarea {
    resize: none;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .header {
      display: flex;
      flex-direction: row;
      width: 100%;
      .image {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
      }
      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
        .details {
          display: flex;
          width: 100%;
        }
        .attributes {
          display: flex;
          width: 100%;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      .leftcolumn {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        width: 235px;
        margin-left: 10px;
        margin-right: -5px;
      }
      .central {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
        .sheet-body {
          display: flex;
          flex-direction: column;
          height: 100%;
          .inventory {
            height: 100%;
            .weapon-list {
              display: flex;
              flex-direction: column;
              margin: 0 0 1em 0;
            }
          }
          .biography {
            height: 100%;
          }
        }
      }
    }
  }
  .attribute-value {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    font-size: var(--font-size-20);
    width: 100%;
    box-shadow: inset 0 0 6px #484242;
  }
  .attribute-roll {
    display: table-cell;
    font-size: var(--font-size-15);
    width: 100px;
    height: 100%;
  }
  .attack-roll,
  .dodge-roll,
  .damageBonus-roll,
  .bleed-poison-roll,
  .burn-roll,
  .burn-damage,
  .burn-off {
    display: table-cell;
    font-size: var(--font-size-15);
    width: 30px;
    height: 100%;
  }
  .attribute-roll:hover,
  .attack-roll:hover,
  .dodge-roll:hover,
  .damageBonus-roll:hover,
  .bleed-poison-roll:hover,
  .burn-roll:hover,
  .burn-damage:hover,
  .burn-off:hover,
  .attribute-roll:focus,
  .attack-roll:focus,
  .dodge-roll:focus,
  .damageBonus-roll:focus,
  .bleed-poison-roll:focus,
  .burn-roll:focus,
  .burn-damage:focus,
  .burn-off:focus {
    color: #000;
    box-shadow: inset 0 0 6px rgb(180, 18, 18);
    cursor: pointer;
  }
  .editor {
    height: 100%;
    box-shadow: inset 0 0 6px black;
  }
}
