.orc.sheet.item form {
  display: flex;
  flex-direction: column;
}
.orc.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.orc.sheet.item .editor {
  height: 100%;
}
.orc.sheet.actor form {
  display: flex;
  flex-direction: column;
}
.orc.sheet.actor .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.orc.sheet.actor .editor {
  height: 100%;
}
