.orc.sheet.actor {
  .main {
    .content {
      .leftcolumn {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        width: 235px;
        margin-left: 10px;
        margin-right: -5px;
        .equipped-armor-bodypart {
          font-style: italic;
        }
        .equipped-armor {
          width: 50%;
          font-size: small;
        }
      }
    }
  }
}
