<div class="global">
  <table class="globalTable">
    <tr>
      <th>{{localize "orc.damageTaken"}}</th>
      <th>{{localize "orc.healTaken"}}</th>
    </tr>
    <td>
      <table class="damageTable">
        <tr class="takeDamage">
          <td class="choice">{{localize "orc.damage"}}</td>
          <td class="choice">{{localize "orc.armor"}}</td>
          <td class="choice">{{localize "orc.onMP"}}</td>
          <td class="choice"></td>
        </tr>
        <tr class="takeDamage">
          <td class="choice">
            <input
              type="text"
              name="system.takeDamage.damage"
              value="{{actor.system.takeDamage.damage}}"
              placeholder="0"
              onClick="this.select();"
              style="width: 40px"
            />
          </td>
          <td class="choice">
            <input
              name="system.takeDamage.applyArmor"
              type="checkbox"
              {{checked
              actor.system.takeDamage.applyArmor}}
            />
          </td>
          <td class="choice">
            <input
              name="system.takeDamage.onMP"
              type="checkbox"
              {{checked
              actor.system.takeDamage.onMP}}
            />
          </td>
          <td
            class="choice take-damage fas fa-swords"
            data-damage="{{actor.system.takeDamage.damage}}"
            data-applyArmor="{{actor.system.takeDamage.applyArmor}}"
            data-onmp="{{actor.system.takeDamage.onMP}}"
            align="center"
          ></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="healTable">
        <tr class="takeHeal">
          <td class="choice">{{localize "orc.heal"}}</td>
          <td class="choice">{{localize "orc.healMultiplier"}}</td>
          <td class="choice"></td>
        </tr>
        <tr class="takeHeal">
          <td class="choice">
            <input
              type="text"
              name="system.takeHeal.heal"
              value="{{actor.system.takeHeal.heal}}"
              placeholder="0"
              onClick="this.select();"
              style="width: 40px"
            />
          </td>
          {{#if unlocked}}
          <td class="choice">
            <input
              type="number"
              name="system.takeHeal.multiplier.native"
              value="{{actor.system.takeHeal.multiplier.native}}"
              placeholder="0"
              onClick="this.select();"
              style="width: 40px"
            />
          </td>
          {{else}}
          <td class="choice">{{actor.system.takeHeal.multiplier.value}}</td>
          {{/if}}
          <td
            class="choice take-heal fas fa-medkit"
            data-heal="{{actor.system.takeHeal.heal}}"
            data-multiplier="{{actor.system.takeHeal.multiplier.value}}"
            align="center"
          ></td>
        </tr>
      </table>
    </td>
  </table>
</div>
